body {
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
}

#chart {
    position: absolute;
    top: 50px;
    left: 100px;
}

body {
    font: 10px sans-serif;
}

#value {
    position: absolute; /*very important*/
    text-align: left;
    padding: 5px 10px 5px 10px;
    font: bold 11px sans-serif;
    height: 20px;
    width: 50px;
    /*color: black;*/
    border: groove;
    border-color:red; 
    background-color: yellow;
    border-radius: 8px;
    pointer-events: none;
}

/* do this or append circles AFTER appending recs */
rect {
    pointer-events: none;
}

.axis line,
.axis path {
    fill: none;
    /*stroke: #000;*/
    shape-rendering: crispEdges;
}

.arrow {
    /*stroke: #000;*/
    stroke-width: 1.5px;
}

.outer,
.inner {
    shape-rendering: crispEdges;
}

.outer {
    fill: none;
    /*stroke: #000;*/
}

.inner {
    fill: transparent;
    /*stroke: #000;*/
    stroke-dasharray: 3, 4;
}

em {
  position: absolute;
  bottom: 10px;
}

.backrect {
  position: absolute;
  height: 60px;
  width: 110px;
  border: groove;
  border-color: blue;
  background-color: cyan;
  left: 800px;
  top: 200px;
}

div#titlething{
  position:absolute;
  left: 320px;
  top: 10px;
}
