{% extends "awesome.html" %}
{% block body %}
<h1><a href="/search">SEARCH</a></h1>
<form action="/doit" method="POST">
    <!--{"id": None, "name": None, "type": None,
            "HP": None, "Attack": None, "Defense": None, "Sp Attack": None, "Sp Defense": None, "Speed": None,
            "abilities": None, "sprite": None,"height": None,"weight": None} -->
    Search for pokemon:<br>
    <input type="text" name="id" placeholder = "id"> <br>
    <input type="text" name="name" placeholder = "name"> <br>
    <input type="text" name="type" placeholder = "type"> <br>
    <input type="text" name="HP" placeholder = "HP"> <br>
    <input type="text" name="Attack" placeholder = "Attack"> <br>
    <input type="text" name="Defense" placeholder = "Defense"> <br>
    <input type="text" name="Sp Attack" placeholder = "Sp Attack"> <br>
    <input type="text" name="Sp Defense" placeholder = "Sp Defense"> <br>
    <input type="text" name="Speed" placeholder = "Speed"> <br>
    <input type="text" name="abilities" placeholder = "abilities"> <br>

    <input type="submit" value="Submit">
</form>
{% endblock %}