{% extends 'base.html' %}

{% block title %}
Pokemon Range Look Up
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/slider.css">
{% endblock %}

{% block content %}
<div id="container" style="padding: 15px;">
  <div class="row">
    <div class="col" id="chart"></div>
    <div class="col" id="slider"></div>
    <div class="col">
      <p>Play with the sliders and see which Pokemon matches your ranges!</p>
      <div id="results" style="height:900px;overflow:scroll;border:1px dashed black;padding: 5px;"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script
  src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<!--  <script src="radar.js"></script>
  -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://unpkg.com/d3-simple-slider"></script>
<script src="/static/js/slider.js"></script>
{% endblock %}
