{% extends 'base.html' %}

{% block title %}
range slider
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}

{% block content %}
<div class="row">
  <div class="column" id="chart"></div>
  <div class="column" id="slider"></div>
</div>
{% endblock %}

{% block javascript %}
<script
  src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<!--  <script src="radar.js"></script>
  -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://unpkg.com/d3-simple-slider"></script>
<script src="/static/js/slider.js"></script>
{% endblock %}

