{% extends 'base.html' %}

{% block title %}
I really hope this works :))
{% endblock %}

{% block style %}
<style>
  body {
      overflow: hidden;
      margin: 0;
      font-size: 14px;
      font-family: "Helvetica Neue", Helvetica;
  }

  #chart {
      position: absolute;
      top: 50px;
      left: 100px;
  }

  body {
      font: 10px sans-serif;
  }

  div.tooltip {
      position: absolute; /*very important*/
      text-align: left;
      padding: 5px 10px 5px 10px;
      font: bold 11px sans-serif;
      /*color: black;*/
      background: yellow;
      border-radius: 8px;
      pointer-events: none;
  }

  /* do this or append circles AFTER appending recs */
  rect {
      pointer-events: none;
  }

  .axis line,
  .axis path {
      fill: none;
      /*stroke: #000;*/
      shape-rendering: crispEdges;
  }

  .arrow {
      /*stroke: #000;*/
      stroke-width: 1.5px;
  }

  .outer,
  .inner {
      shape-rendering: crispEdges;
  }

  .outer {
      fill: none;
      /*stroke: #000;*/
  }

  .inner {
      fill: transparent;
      /*stroke: #000;*/
      stroke-dasharray: 3, 4;
  }

  em {
    position: absolute;
    bottom: 10px;
  }

  .backrect {
    position: absolute;
    height: 60px;
    width: 110px;
    border: groove;
    border-color: blue;
    background-color: cyan;
    left: 800px;
    top: 200px;
  }

  div#titlething{
    position:absolute;
    left: 320px;
    top: 10px;
  }

</style>
{% endblock %}

{% block content %}

<div id="titlething">
  Average stats for Normal types
</div>

<div id="chart"></div>

{#    HELLO!!!!#}
<!--
  <button id="update">Update</button>
-->
<div class="backrect">
<label>TYPE:
  <select id="dropdown" name="wee">
    <option value="Normal">Normal</option>
    <option value="Fighting">Fighting</option>
    <option value="Flying">Flying</option>
    <option value="Poison">Poison</option>
    <option value="Ground">Ground</option>
    <option value="Rock">Rock</option>
    <option value="Bug">Bug</option>
    <option value="Ghost">Ghost</option>
    <option value="Steel">Steel</option>
    <option value="Fire">Fire</option>
    <option value="Water">Water</option>
    <option value="Grass">Grass</option>
    <option value="Electric">Electric</option>
    <option value="Psychic">Psychic</option>
    <option value="Ice">Ice</option>
    <option value="Dragon">Dragon</option>
    <option value="Dark">Dark</option>
    <option value="Fairy">Fairy</option>
  </select>
</label>
</div>
{% endblock %}

{% block javascript %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="/static/js/my_radar.js"></script>
{% endblock %}
