{% extends 'base.html' %}

{% block title %}
I really hope this works :))
{% endblock %}

{% block style %}
<style>
  body {
	  overflow: hidden;
	  margin: 0;
	  font-size: 14px;
	  font-family: "Helvetica Neue", Helvetica;
  }

  #chart {
	  position: absolute;
	  top: 50px;
	  left: 100px;
  }
</style>
{% endblock %}

{% block content %}
<button id="update">Update</button>		
<div id="chart"></div>
{% endblock %}

{% block javascript %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="/static/js/my_radar.js"></script>
{% endblock %}

